.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}

.action_route,
.action_follow,
.action_share,
.action_more {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 12px;

  font-size: 14px;

  background-color: var(--bg-third-color);
  transition: background-color 0.2s ease;
}

.action_route {
  border-radius: 12px 0 0 12px;
}

.action_more {
  border-radius: 0 12px 12px 0;
}
