{
    "trailingComma": "none",
    "tabWidth": 2,
    "useTabs": true,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "singleAttributePerLine": true,
    "arrowParens": "avoid",
    "printWidth": 80,
    "proseWrap": "always",
    "bracketSpacing": true,
    "importOrder": [
        "^react$",
        "<THIRD_PARTY_MODULES>",
        "^app/(.*)$",
        "^components/(.*)$",
        "^pages/(.*)$",
        "^shared/(.*)$",
        "^store/(.*)$",
        "^[./].*\\.css$",
        "^lucide-react$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ]
}