.flight_button {
    display: flex;
    /* width: 100%; */
    margin-bottom: 8px;
    padding: 2px; /* зазор-рамка */
    border-radius: 16px;
    background-color: transparent;
}

.flight_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 350px;
    height: 170px;
    padding: 14px;
    border: 2px solid transparent;
    border-radius: 16px;
    background-color: var(--color-secondary);
    transition: background-color 0.2s ease;
}

.active {
    /* border: 1px solid #ff6600; */
    background: linear-gradient(to right, #ff5e00 50%, #ffae00 100%);
    border-radius: 18px; /* чуть больше, чем у внутренней */

    /* display: flex; */
    /* border-color: #ff6600; */
}

.airline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.airline_logo {
    display: flex;
    align-items: center;
}

.airline img {
    height: 36px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: #e7e7e7;
}

.flight_number {
    font-size: 16px;
    color: #ccc;
}

.airline_code {
    display: flex;
    gap: 4px;
    font-size: 14px;
    color: #d6d6d6;
}

.airline_code span {
    padding: 4px 6px;
    background-color: #3b3b3b;
    border: 1px solid transparent;
    border-radius: 16px;
}

.route {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.airport {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.airport_city {
    text-align: left;
    font-size: 14px;
    color: #ccc;
}

.airport_code {
    font-size: 38px;
    font-weight: bold;
    color: #ccc;
}